@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Advanced Technology Training Center<br />
    3409 Woodland Avenue, Cleveland, OH 44115<br />
    <abbr title="Phone">P:</abbr>
   216.632.5867
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:S01022515@acad.tri-c.edu">Support@acad.tri-c.edu</a><br />
</address>