@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-12" style="float:left">
    
        <h1 >The Book Lodge</h1>
        <p class="lead">The Book Lodge is a Library of education material that provide quality second-hand book to student in our community for cheap.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    </div>
<p style="margin-top:45px"><img src="~/Controllers/Images/46021-v1-600x.JPG" height="250" width="100%></p>
<div class="row" >


    <div class="col-md-12" id="Box">
        <h2>Getting started</h2>
        <p style="border: 25px solid orange";>

            Using The Book Lodge's virtual library is an easy and effective way to get the material you need !
            You can start by checking the libaries inventory to see if the book you need is already on hand, then all you
            have to do is reserve it for pick up. If the material you are looking for doesn't seem to be in, you can make a request
            and you'll be notified as soon as we have it.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
  
    <div class="col-md-6">
        <ul class="nav navbar-nav" style="margin:25px">
            <li>
                <p>
                    <img src="~/Controllers/Images/Book.jpg" height="250" width="100%">
                    <h2>Request A Book</h2>
                    If your desired book is not available with us, you can place a request for it by filling out the following form. Our team will respond you in the next 48 to 72 hours.
                   <br />
                    <a class="btn btn-default" id="Blue" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="nav navbar-nav"  style="margin:25px">
           <li> <p>
                    <img src="~/Controllers/Images/teenagers-books-reading-school-feature-470x248.png" height="250" width="100%">
                    <h2>Donating A Book</h2>
                    Give the gift of literacy when you donate your used books to The Book Lodge. So many of us have books piling up in corners, lining up along the floor, stacked in piles on desks, overflowing from our bookshelves. Help get your old or gently used books in the hands of people who need them by donating your used books to The Book Lodge. 
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
            </p>
            </li>
        </ul>
    </div>
